<!-- Page Heading -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Présentation du projet
    </h1>
    <ol class="breadcrumb">
      <li>
        <i class="fa fa-dashboard"></i>  <a [routerLink]="['/dashboard']">Dashboard</a>
      </li>
      <li class="active">
        <i class="fa fa-fw fa-desktop"></i> Présentation
      </li>
    </ol>
  </div>
</div>
<!-- /.row -->

<!-- Flot Charts -->
<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">Système éléctrique</h2>
  </div>
</div>
<!-- /.row -->
<!-- /.row -->

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-fw fa-desktop"></i> Schemas</h3>
      </div>
      <div class="panel-body">
        <img style="width: 100%" src="breadboard.png"  alt="Photo du projet 0" />
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-fw fa-desktop"></i> Système d'arrosage</h3>
      </div>
      <div class="panel-body">
        <iframe width="100%"  src="https://www.youtube.com/embed/wgbbjPCtiG4" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-fw fa-desktop"></i> Time laps 1 day</h3>
      </div>
      <div class="panel-body">
        <iframe width="100%"  src="https://www.youtube.com/embed/yCu232v0NG0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<!-- /.row -->
