<!-- Page Heading -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      À propos de moi...
    </h1>
    <ol class="breadcrumb">
      <li>
        <i class="fa fa-dashboard"></i>  <a href=" ">Dashboard</a>
      </li>
      <li class="active">
        <i class="fa fa-fw fa-child"></i> À propos de moi
      </li>
    </ol>
  </div>
</div>
<!-- /.row -->

<!-- Flot Charts -->
<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">Quelques mots sur ma personne</h2>
  </div>
</div>
<!-- /.row -->
<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-fw fa-child"></i> Victor Le Deuff </h3>
      </div>
      <div class="panel-body">
        <div>
          <p> Originaire de région parisienne, je me suis très vite intéressé à l'informatique.</p>
          <p> C'est dans cette optique que j'ai rejoins l'université de Technologie de Troyes. Cette dernière m'a permis de découvrir un monde bien plus vaste qu'il ne m'avait semblé.</p>
          <p> J'ai ainsi pu choisir ma spécialisation : D'abord les Systèmes, réseaux et télécommunications puis plus spécifiquement la Technologie mobie et les systèmes embarqués.</p>
          <p> <br></p>


          <address>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-fw fa-at"></i></span>
              <a class="form-control" href="mailto:victorledeuff@gmail.com">victorledeuff@gmail.com</a>
            </div>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-fw fa-twitter-square"></i></span>
              <a class="form-control" href="https://twitter.com/victornade">@Victornade</a>
            </div>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-fw fa-linkedin"></i></span>
              <a class="form-control" href="https://fr.linkedin.com/in/victor-le-deuff-098086b5">Victor Le Deuff</a>
            </div>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-fw fa-github-square "></i></span>
              <a class="form-control" href="https://github.com/Victornade/">Victornade</a>
            </div>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-fw fa-mouse-pointer"></i></span>
              <a class="form-control" href="http://oss117.citation.free.fr/">Mon premier site internet (version mobile uniquement)</a>
            </div>
          </address>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- /.row -->
