
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Dashboard <small>Vue d'ensemble</small>
    </h1>
  </div>
</div>


<div class=" row " *ngIf="reservoirEmpty && arrosageActivated">
  <div class="col-lg-12">
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <i class="fa fa-info-circle"></i>  <strong>Le reservoir d'eau est vide !</strong>
    </div>
  </div>
</div>
<!-- /.row -->

<div class="  row "  *ngIf=" !arrosageActivated">
  <div class="col-lg-12">
    <div class="alert alert-info alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <i class="fa fa-info-circle"></i>
      <strong>Le dispositif d'arrosage automatique est désactivé ! 	</strong>
      <button type="button" class="btn btn-info" Onclick="activer_arrosage()"> Activer </button>
    </div>
  </div>
</div>


<!-- /.row -->

<div class="row">
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-yellow">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-lightbulb-o fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge" id="lum">{{lastAquisition.lux}}</div>
            <div>Lumière (%)</div>
          </div>
        </div>
      </div>
      <a style="cursor:pointer" (click)="goToChart()">
        <div class="panel-footer">
          <span class="pull-left">Plus de détails</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-green">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-sort-amount-desc fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge" id="pression">{{lastAquisition.pression}}</div>
            <div>Pression (hPa)</div>
          </div>
        </div>
      </div>
      <a style="cursor:pointer" (click)="goToChart()">
        <div class="panel-footer">
          <span class="pull-left">Plus de détails</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-tint fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge" id="hum1">{{lastAquisition.humidite_1}}</div>
            <div>Humidité 1 (%)</div>
          </div>
        </div>
      </div>
      <a style="cursor:pointer" (click)="goToChart()">
        <div class="panel-footer">
          <span class="pull-left">Plus de détails</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-tint fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge" id="hum2">{{lastAquisition.humidite_2}}</div>
            <div>Humidité 2 (%)</div>
          </div>
        </div>
      </div>
      <a style="cursor:pointer" (click)="goToChart()">
        <div class="panel-footer">
          <span class="pull-left">Plus de détails</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
</div>
<!-- /.row -->

<!-- /.row -->

<div class="row">
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-red">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-thermometer-three-quarters fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge" id="temperature">{{lastAquisition.temperature}}</div>
            <div>Temperature (°C)</div>
          </div>
        </div>
      </div>
      <a style="cursor:pointer" (click)="goToChart()">
        <div class="panel-footer">
          <span class="pull-left">Plus de détails</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-green">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-umbrella fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge" id="humair">{{lastAquisition.humidite_air}}</div>
            <div>Humidité  (%)</div>
          </div>
        </div>
      </div>
      <a style="cursor:pointer" (click)="goToChart()">
        <div class="panel-footer">
          <span class="pull-left">Plus de détails</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-tint fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge" id="hum3">{{lastAquisition.humidite_3}}</div>
            <div>Humidité 3 (%)</div>
          </div>
        </div>
      </div>
      <a style="cursor:pointer" (click)="goToChart()">
        <div class="panel-footer">
          <span class="pull-left">Plus de détails</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-tint fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge" id="hum4">{{lastAquisition.humidite_4}}</div>
            <div>Humidité 4 (%)</div>
          </div>
        </div>
      </div>
      <a style="cursor:pointer" (click)="goToChart()">
        <div class="panel-footer">
          <span class="pull-left">Plus de détails</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
</div>
<!-- /.row -->

<!-- /.row -->

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-fw fa-desktop"></i> Dernière photo</h3>
      </div>
      <div class="panel-body">
        <img style="width: 100%" src="http://77.140.55.82/last_image.jpg"  alt="Photo du projet" class="img-rounded" />
      </div>
    </div>
  </div>
</div>
<!-- /.row -->


<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-fw fa-desktop"></i> Photo du projet</h3>
      </div>
      <div class="panel-body">
        <img style="width: 100%" src="photos/000projet.JPG"  alt="Photo du projet" class="img-circle" />
      </div>
    </div>
  </div>
</div>
<!-- /.row -->

<!-- /.row -->

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Description du projet</h3>
      </div>
      <div class="panel-body">
        <strong>insert here </strong>
      </div>
    </div>
  </div>
</div>
<!-- /.row -->


<!-- /.row -->
