
<!-- Page Heading -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Retrospéctive du projet
    </h1>
    <ol class="breadcrumb">
      <li>
        <i class="fa fa-dashboard"></i>  <a href=" ">Dashboard</a>
      </li>
      <li class="active">
        <i class="fa fa-fw fa-desktop"></i> Photos
      </li>
    </ol>
  </div>
</div>
<!-- /.row -->

<!-- /.row -->


<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Patient zero (aout 2015)</h3>
      </div>
      <div class="panel-body">
        <img style="width: 100%" src="photos/pipotager_originel.JPG"  alt="Photo du projet 0" />
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Première photo de l'intérieur</h3>
      </div>
      <div class="panel-body">
        <img style="width: 100%" src="photos/premierephoto1.PNG"  alt="Photo du projet 0" />
      </div>
    </div>
  </div>
  <!-- /.col-sm-6 -->
  <div class="col-sm-6">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Mise en place du bras mécanique</h3>
      </div>
      <div class="panel-body">
        <img style="width: 100%" src="photos/miseenplace.JPG"  alt="Photo du projet 0" />

      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Les plantes s'acclimatent...</h3>
      </div>
      <div class="panel-body">
        <img style="width: 100%" src="photos/vueinterne2.JPG"  alt="Photo du projet 0" />

      </div>
    </div>
  </div>
  <!-- /.col-sm-6 -->
  <div class="col-sm-6">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">Vue Globale</h3>
      </div>
      <div class="panel-body">
        <img style="width: 100%" src="photos/vueglobale2.jpg"  alt="Photo du projet 0" />
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">Vue de l'arrière</h3>
      </div>
      <div class="panel-body">
        <img style="width: 100%" src="photos/vuearriere.jpg"  alt="Photo du projet 0" />

      </div>
    </div>
  </div>

  <!-- /.col-sm-6 -->
  <div class="col-sm-6">
    <div class="panel panel-green">
      <div class="panel-heading">
        <h3 class="panel-title"> Photo </h3>
      </div>
      <div class="panel-body">
        <img style="width: 100%" src="photos/vue.jpg"  alt="Photo du projet 0" />

      </div>
    </div>
  </div>
  <!-- /.col-sm-6 -->
  <div class="col-sm-6">
    <div class="panel panel-yellow">
      <div class="panel-heading">
        <h3 class="panel-title">Les premières fleurs de tomate !</h3>
      </div>
      <div class="panel-body">
        <img style="width: 100%" src="photos/tomatesfleurs.jpg"  alt="Photo du projet 0" />

      </div>
    </div>
  </div>

  <!-- /.col-sm-6 -->
  <div class="col-sm-6">
    <div class="panel panel-red">
      <div class="panel-heading">
        <h3 class="panel-title">Suivies des fleurs de fraise !</h3>
      </div>
      <div class="panel-body">
        <img style="width: 100%" src="photos/fraisesfleurs1.jpg"  alt="Photo du projet 0" />

      </div>
    </div>
  </div>
  <!-- /.col-sm-6 -->

  <!-- /.col-sm-6 -->
  <div class="col-sm-6">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">Les premières tomates</h3>
      </div>
      <div class="panel-body">
        <img style="width: 100%" src="photos/tomate1.JPG"  alt="Photo du projet 0" />
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">Les premières fraises</h3>
      </div>
      <div class="panel-body">
        <img style="width: 100%" src="photos/Fraise1.JPG"  alt="Photo du projet 0" />
      </div>
    </div>
  </div>

  <!-- /.col-sm-6 -->
  <div class="col-sm-6">
    <div class="panel panel-green">
      <div class="panel-heading">
        <h3 class="panel-title"> Naissance des radis</h3>
      </div>
      <div class="panel-body">
        <img style="width: 100%" src="photos/radis0.jpg"  alt="Photo du projet 0" />

      </div>
    </div>
  </div>

  <!-- /.col-sm-6 -->
  <div class="col-sm-6">
    <div class="panel panel-yellow">
      <div class="panel-heading">
        <h3 class="panel-title">...Et la recolte !</h3>
      </div>
      <div class="panel-body">
        <img style="width: 100%" src="photos/radis3.jpg"  alt="Photo du projet 0" />

      </div>
    </div>
  </div>



</div>
